<h1>{{ album.name }}</h1>
<p id="detail">
  Full track listing for {{ album.name }} <br />Click the
  <mat-icon mat-list-icon>queue_music</mat-icon> icon to <b>add</b> a song to
  your favorites list
</p>
<br />

<mat-card>
  <mat-card-content class="fxlayout">
    <div>
      <img
        src="{{ album.images[1].url }}"
        alt="album cover"
        [style.margin]="'10px'"
        [style.max-width]="'90%'"
      />
    </div>
    <div class="fxflex">
      <div [style.min-width]="'300px'" [style.margin]="'10px'">
        <strong>Record Label: </strong> {{ album.label }}<br />
        <strong>Release Date: </strong> {{ album.release_date | date: "M/d/yy"
        }}<br /><br />
        <strong>Tracks:</strong> {{ album.total_tracks }}<br />
        <strong>Popularity: </strong>{{ album.popularity }}<br /><br />

        <mat-chip-list
          *ngFor="let artist of album.artists"
          aria-label="Artist selection"
          routerLink="/artist/{{ artist.id }}"
        >
          <mat-chip>{{ artist.name }}</mat-chip>
        </mat-chip-list>
        <br />

        <div *ngFor="let copyright of album.copyrights">
          {{ copyright.text }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>

<mat-list>
  <!-- Single "Responsive" Material List Item-->
  <mat-list-item *ngFor="let track of album.tracks.items">
    <mat-icon mat-list-icon (click)="addToFavourites(track.id)"
      >queue_music</mat-icon
    >
    <div mat-line>
      <mat-card>
        <mat-card-content
          >{{ track.track_number }}: {{ track.name }} -
          {{ (track.duration_ms / 60000).toFixed(2) }}
        </mat-card-content>
        <div *ngIf="track.preview_url">
          <br /><audio controls [src]="track.preview_url"></audio>
        </div>
      </mat-card>
    </div>
  </mat-list-item>
  <!-- -->
</mat-list>
